
//Flavors Section has own file since it's a bit complex kinda sorta maybe, might change later...
@import 'flavors';

.hook {
    background-image: url("/images/hook-2.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    font-family: 'Parisienne';
    font-size: 6vw;
    overflow: hidden;
    padding: 100px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    //box-shadow: 0 0 0 1px $color-secondary;
}

.about-wrapper {
    padding: 20px 20vw;
    text-align: center;
}

.price-wrapper {
    padding: 20px 0;
    text-align: center;
    div {
        padding: 5px;
    }
}

@mixin content-desktop {
    @include flavor-desktop;
}
    
