// TODO

.flavor-wrapper {
    text-align: center;
    padding: 30px 0;
}

.flavors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flavor-card {
    width: 170px;
    height: 170px;
    margin: 8px;
    margin-bottom: 20px;
    perspective: 600px;
    &:focus .card-inner {
        transform: rotateY(180deg);
    }
}

.card-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-back {
    p {
        margin: 4px;
    }
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-front, .card-back {
    position: absolute;
    box-shadow: $std-shadow;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform .8s;
    transform-style: preserve-3d;
}

.flavor-vanilla {
    background-color:rgb(252, 232, 195);
}

.flavor-red-velvet {
    background-color:rgb(184, 80, 80);
}

.flavor-coffee {
    background-color:rgb(156, 126, 70);
}

.flavor-ube {
    background-color:rgb(220, 149, 248);
}

.flavor-strawberry {
    background-color:rgb(255, 170, 170)
}

.flavor-rose {
    background-color:rgb(255, 73, 73);
}

.flavor-mango {
    background-color:rgb(252, 194, 86);
}

.flavor-fruity-pebbles {
    background-color:rgb(71, 253, 126);
}

.flavor-cinnamon-roll {
    background-color:rgb(212, 186, 137);
}

.flavor-lychee {
    background-color:rgb(255, 163, 209);
}

@media only screen and (min-width: 600px) {
    .flavor-wrapper {
        text-align: center;
        padding: 30px 5vw;
    }
}

@mixin flavor-desktop {
    .flavor-wrapper {
        text-align: center;
        padding: 30px 21vw;
    }
}