
$nav-margin: 24px;
$top-bar-height: 48px;
$logo-height: 80px;

.to-top {
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 5px 10px;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 #CCC;
    background-color: #d2e6e9;
    transition: .3s;
}

body.hasHover .to-top:hover {
    color: $color-primary;
    box-shadow: 0 0 5px 1px #BBB;
    background-color: $color-secondary;
}

.top-bar {
    background-color: $color-primary;
    box-shadow: $std-shadow;
    margin: $nav-margin 0;
    height: $top-bar-height;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.top-container {
    background-color: lighten($color-secondary, 15%);
    height: $nav-margin * 2 + $top-bar-height;
    display: flex;
    align-items: center;
    box-shadow: $std-shadow;
    position: relative;
    z-index: 10;
}

.ham {
    .bar1, .bar2, .bar3 {
        width: 20px;
        height: 2px;
        background-color: gray;
        transition: .5s;
        &:first-child {
            margin-top: 10px;
        }
        &:last-child {
            margin-bottom: 10px;
        }
    }
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    height: $top-bar-height;
    padding: 0 20px;
    &:hover {
        background-color: lighten($color-primary, 3%);
    }
}

.logo {
    img {
        width: $logo-height;
        height: $logo-height;
    }
    border-radius: 30%;
    width: $logo-height;
    height: $logo-height;
    margin-left: 50px;
    margin-right: 100px;
    align-self: center;
    //background: linear-gradient(35deg, $color-secondary, lighten($color-secondary, 10%));
    //box-shadow: $std-shadow;
}

.navbar {
    display: flex;
    height: $top-bar-height;
    align-items: center;
    a {
        color: black;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
    }
}

.nav-wrapper {
    display: inherit;
    align-items: inherit;
    flex-direction: inherit;
}

.nav-link {
    padding: 5px 0 0 20px;
    &::after {
        content: "";
        display: block;
        background-color: #daf5ff;
        height: 3px;
        border-radius: 25%;
        width: 0;
        margin: auto;
        transition: width .3s;
    }
}

body.hasHover .nav-link:hover::after {
    width: 100%;
}
            
.insta {
    img {
        display: none;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        &:hover {
            box-shadow: 0 0 5px 0 lightgray;
        }
    }
}      

@mixin header-desktop {
    
    .navbar {
        padding: 0 36px;
    }
    
    .nav-link {
        padding: 5px 20px 0 20px;
    }
    
    .insta {
        padding: 0px 16px 0 8px;
        display: block;
        img {
            display: block;
        }
    }
}

@media only screen and (max-width: 600px) {
    .nav-link {
        padding: 10px;
        &::after {
            text-align: right;
            margin-right: 0;
        }
    }
    
    .nav-wrapper {
        background-color: lighten($color-primary, 3%);
        transition: .3s;
        max-height: 0;
        overflow: hidden;
        width: 100%;
        height: auto;
    }
    
    .logo {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: (2 * $nav-margin + $top-bar-height - $logo-height) / 2;
    }
    
    .ham {
        display: flex;
    }
    
    .navbar {
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        height: auto;
    }
    
    .nav-sm {
        .ham {
            .bar1 {
                transform: rotate(-45deg) translate(-5px, 6px);
            }

            .bar2 {
                opacity: 0;
            }

            .bar3 {
                transform: rotate(45deg) translate(-5px, -6px);
            }
        }
        .nav-wrapper {
            box-shadow: -2px 2px 4px 0 #BBB;
            padding: 10px;
        }
    }

}