
$nav-margin: 24px;
$top-bar-height: 48px;
$logo-height: 64px;

.to-top {
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 5px 10px;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 #CCC;
    background-color: #d2e6e9;
    transition: .3s;
    &:hover {
        color: $color-primary;
        box-shadow: 0 0 5px 1px #BBB;
        background-color: #bde4ea;
    }
}

.top-bar {
    background-color: $color-primary;
    box-shadow: $std-shadow;
    margin: $nav-margin 0;
    height: $top-bar-height;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.logo {
    font-family: 'Parisienne';
    font-size: 32px;
    font-weight: 500;
    border-radius: 30%;
    text-align: center;
    padding: 0 20px;
    margin: (($top-bar-height - $logo-height) / 2) $nav-margin;
    line-height: $logo-height;
    background: linear-gradient(35deg,rgb(237, 255, 255), rgb(196, 223, 255));
    box-shadow: $std-shadow;
}

.navbar {
    padding: 0;
    display: flex;
    align-items: center;
    a {
        color: black;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
    }
}

.nav-link {
    list-style-type: none;
    padding: 0 20px;
    &::after {
        content: "";
        display: block;
        background-color: $color-primary;
        height: 2px;
        width: 0;
        margin: auto;
        transition: width .3s;
    }
    &:hover::after {
        width: 100%;
    }
}
            
.insta {
    flex-grow: 0;
    display: none;
    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        &:hover {
            box-shadow: 0 0 5px 0 lightgray;
        }
    }
}      

@mixin header-desktop {
    
    .logo {
        margin-left: 100px;
        margin-right: 100px;
    }
    
    .navbar {
        padding: 0 36px;
    }
    
    .nav-link {
        padding: 0 20px;
        &::after {
            background-color: white;
        }
    }
    
    .insta {
        padding: 4px 16px 0 8px;
        display: block;
    }
}