

.teletop {
    color: rgb(80, 80, 80);
    border-top: solid black;
    text-decoration: none;
    font-size: 40px;
    position: fixed;
    border-radius: 20px;
    padding: 10px;
    bottom: 30px;
    right: 30px;
}

.teletop::before {
    content: "";
    display: block;
    background-color: rgb(80, 80, 80);
    border-radius: 3px;
    width: 100%;
    height: 3px;
}

.top-bar {
    background-color: $color-primary;
    box-shadow: $std-shadow;
    width: auto;
    margin: 24px 0;
    height: 48px;
}

.logo {
    float: left;
    font-family: 'Parisienne';
    font-size: 32px;
    font-weight: 500;
    border-radius: 30%;
    text-align: center;
    padding: 0 20px;
    margin: -8px 100px;
    line-height: 64px;
    background: linear-gradient(35deg,rgb(237, 255, 255), rgb(196, 223, 255));
    box-shadow: $std-shadow;
}

.navbar {
    float: left;
    padding: 0 36px;
}

.navbar a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.nav-link {
    display: inline-block;
    list-style-type: none;
    padding: 0 20px;
}

.nav-link::after {
    content: "";
    display: block;
    background-color: white;
    height: 2px;
    width: 0;
    transition: width .2s;
}

.nav-link:hover::after {
    width: 100%;
}
            
.insta {
    float: right;
    padding: 8px 36px 0 0;
}
            
.insta img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.insta img:hover {
    box-shadow: 0 0 5px 0 lightgray;
}
