body {
  font-family: "Comfortaa", Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0; }

.to-top {
  color: white;
  text-decoration: none;
  font-size: 20px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 5px 10px;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 #CCC;
  background-color: #d2e6e9;
  transition: .3s; }

body.hasHover .to-top:hover {
  color: #ffe7e7;
  box-shadow: 0 0 5px 1px #BBB;
  background-color: #bde4ea; }

.top-bar {
  background-color: #ffe7e7;
  box-shadow: 0 0 5px 2px #BBB;
  margin: 24px 0;
  height: 48px;
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr auto;
  align-items: center; }

.top-container {
  background-color: #f7fcfc;
  height: 96px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px 2px #BBB;
  position: relative;
  z-index: 10; }

.ham {
  display: none;
  color: black;
  text-decoration: none;
  text-align: center;
  line-height: 48px;
  padding: 0 20px; }
  .ham:hover {
    background-color: #fff6f6; }

.logo {
  font-family: 'Parisienne';
  font-size: 32px;
  font-weight: 500;
  border-radius: 30%;
  align-self: flex-start;
  text-align: center;
  padding: 0 20px;
  margin: -8px 24px;
  line-height: 64px;
  background: linear-gradient(35deg, #edffff, #c4dfff);
  box-shadow: 0 0 5px 2px #BBB; }

.navbar {
  display: flex;
  align-items: baseline; }
  .navbar a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px; }

.nav-wrapper {
  display: inherit;
  align-items: inherit;
  flex-direction: inherit;
  z-index: 1; }

.nav-link {
  padding: 5px 0 0 20px; }
  .nav-link::after {
    content: "";
    display: block;
    background-color: #daf5ff;
    height: 3px;
    border-radius: 25%;
    width: 0;
    margin: auto;
    transition: width .3s; }

body.hasHover .nav-link:hover::after {
  width: 100%; }

.insta img {
  display: none;
  width: 32px;
  height: 32px;
  border-radius: 50%; }
  .insta img:hover {
    box-shadow: 0 0 5px 0 lightgray; }

@media only screen and (max-width: 600px) {
  .nav-link {
    display: none;
    padding: 10px; }
    .nav-link::after {
      text-align: right;
      margin-right: 0; }
  .ham {
    display: block; }
  .navbar {
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end; }
  .nav-sm .nav-wrapper {
    background-color: #fff6f6;
    box-shadow: -2px 2px 4px 0 #BBB; }
  .nav-sm .nav-link {
    display: block; } }

.hook {
  background-image: url("/images/hook-2.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  font-family: 'Parisienne';
  font-size: 6vw;
  overflow: hidden;
  padding: 100px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  box-shadow: 0 0 0 1px #bde4ea; }

.about-wrapper {
  padding: 30px 10vw; }

.flavor-wrapper {
  padding: 30px 10vw; }

.about-wrapper h1 {
  text-align: center; }

.flavor-wrapper h1 {
  text-align: center; }

hr {
  height: 2px;
  border: 1px solid #cacaca;
  border-left: 0;
  border-right: 0; }

.info-container, .contact-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.contact-link {
  padding: 4px 12px; }
  .contact-link:hover .link-text {
    display: block; }

.footer {
  padding: 0 16px; }
  .footer a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 32px;
    text-align: center; }
  .footer img {
    width: 32px;
    height: 32px;
    padding: 3px;
    margin: 3px;
    border-radius: 25%; }

.link-text {
  display: none; }

.form-container {
  background-color: #f7fcfc;
  padding: 50px;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0 0 5px 2px #BBB;
  border-radius: 10px;
  width: 400px;
  display: flex; }
  .form-container p {
    margin: 0; }

.radio-container {
  background-color: #fff6f6;
  display: inline-flex;
  border: 2px solid #ffe7e7;
  border-radius: 5px;
  margin: 10px 0; }

.form-radio {
  text-align: center;
  display: inline-block; }
  .form-radio label {
    padding: 0px 10px; }
  .form-radio input[type="radio"] {
    position: absolute;
    left: -9999px; }
    .form-radio input[type="radio"]:checked + label {
      background-color: #ffcece; }
    .form-radio input[type="radio"]:focus + label {
      box-shadow: 0 0 3px 2px #dcf1f4; }
  .form-radio:hover {
    background-color: #ffe7e7; }

input, textarea, select, button {
  display: block;
  margin: 0;
  box-sizing: border-box; }

input, textarea {
  border-radius: 3px;
  border: 1px solid gray;
  padding: 5px;
  margin: 5px 0;
  width: 500px; }

textarea {
  resize: none; }

@media only screen and (min-width: 1080px) {
  .logo {
    margin-left: 100px;
    margin-right: 100px; }
  .navbar {
    padding: 0 36px; }
  .nav-link {
    padding: 5px 20px 0 20px; }
  .insta {
    padding: 0px 16px 0 8px;
    display: block; }
    .insta img {
      display: block; }
  .flavor-wrapper {
    padding: 50px 10vw; }
  .about-wrapper {
    padding: 50px 10vw; }
  .footer img:hover {
    box-shadow: 0 0 5px 0 lightgray; }
  .contact-link {
    padding: 12px 24px; }
  .link-text {
    display: block; }
  .form-container {
    width: 800px; } }
