
body {
    font-family: 'Comfortaa';
    margin: 0;
    padding: 0;
}

.teletop {
    color: rgb(80, 80, 80);
    border-top: solid black;
    text-decoration: none;
    font-size: 40px;
    position: fixed;
    border-radius: 20px;
    padding: 10px;
    bottom: 30px;
    right: 30px;
}

.teletop::before {
    content: "";
    display: block;
    background-color: rgb(80, 80, 80);
    border-radius: 3px;
    width: 100%;
    height: 3px;
}

.logo {
    float: left;
    font-family: 'Parisienne';
    font-size: 30px;
    font-weight: 500;
    border-radius: 30%;
    text-align: center;
    padding: 0 20px;
    margin: 50px 100px;
    line-height: 60px;
    background: linear-gradient(35deg,#CCFFFF, #FFCCCC);
}

.navbar {
    float: left;
    padding: 36px;

}

.navbar a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.animate-hover {
    display: inline-block;
    list-style-type: none;
    padding: 20px;
}

.animate-hover::after {
    content: "";
    display: block;
    background-color: #FFCCCC;
    height: 2px;
    width: 0;
    transition: width .2s;
}

.animate-hover:hover::after {
    width: 100%;
}
            
.insta {
    float: right;
    padding: 56px 56px 0 0;
}
            
.insta img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.insta img:hover {
    box-shadow: 0 0 15px 5px lightgoldenrodyellow;
}

.hook {
    text-align: center;
    font-size: 100px;
    padding: 50px 100px;
    padding-top: 200px;
}

.about-wrapper, .flavor-wrapper {
    padding: 50px 100px;
}

.about-wrapper h1 {
    text-align: center;
}

.flavor-wrapper h1 {
    text-align: center;
}

hr {
    height: 2px;
    border: 1px solid rgb(202, 202, 202);
    border-left: 0;
    border-right: 0;
}

.footer {
    padding: 0 16px;
}

.info-container, .contact-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-link {
    padding: 12px 24px;
}

.footer img {
    width: 32px;
    height: 32px;
    padding: 6px;
}

.footer ul {
    text-align: center;
}

.footer a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
}

.footer li {
    display: inline-block;
    list-style-type: none;
    padding: 20px;
}